*{
   
}
body{
    padding: 0;
    margin: 0;
    height: 100vw;
    background: linear-gradient(#238aff,#479cfd, #f1f1f1, white);
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.subTela{
    
    width: 300px;
    border-radius: 10px;
    overflow-y: hidden;
    box-shadow: 0 5px 10px #212121;
 
}
/* tabelas */
#tabelas{
    border-radius: 10px;
    overflow: auto;
    display: flex;
    scroll-snap-type: mandatory;
    
}
#tabelas table{
    border-radius:10px ;
    text-align: center;
    font-family:  Arial;
    margin: 10px;
    object-fit: cover;
    flex-shrink: 0;
    scroll-behavior: smooth;

    
 
}
th{
    border-radius: 10px ;
    box-shadow: 0px 1px 4px;
    background-color: #f1f1f1;
    padding: 5px;
    
}
td{
    border-radius: 10px ;
    box-shadow: 0px 1px 4px;
    background-color: #f1f1f1;
    
}

/* titulos */
h1{
    word-wrap: wrap;
    font-size: 40px;
}